.form__btn-search {
    width: 10%;
    height: 26px;
    margin-left: 1%;
    background: none;
    outline: none;
    border: 2px solid rgba(13, 13, 13, 0.35);
    cursor: pointer;
}


.form__btn-search:disabled {
    cursor: auto;
    border: 2px solid rgba(13, 13, 13, 0.25);
}
.form__btn-search:disabled:hover {
    background: none;

    border: 2px solid rgba(13, 13, 13, 0.25)
}
.form__btn-search:hover {
    background: rgba(13, 13, 13, 0.025);
    border: 2px solid rgba(13, 13, 13, 0.5)
}
